{% include 'header.html' %}
<h1 class="text-center mt-5 mb-4">Halaman Chat</h1>
<div class="container">
  <div id="chatnya">
  </div>
  <form id="formnya">
    <div class="row mt-5 mb-5">
      <div class="col">
        <p class="text-center">Silahkan tambahan pertanyaan dan jawaban di bagian Halaman Data Latih</p>
        <!-- <input type="text" class="form-control" name="mytext" id="mytext" placeholder="Some Text"> -->
      </div>
      <!-- <div class="col-2">
        <button type="button" id="send" class="btn btn-primary btn-block">Kirim</button>
      </div> -->
    </div>
  </form>

  <style>
    button {
      border: none;
      outline: none;
      cursor: pointer;
    }

    section {
      max-width: 1100px;
      margin: auto;
      text-align: center;
      padding: 0 1rem;
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }


    p {
      font-size: 2rem;
    }


    .chat-btn {
      position: fixed;
      right: 50px;
      bottom: 50px;
      background: dodgerblue;
      color: white;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      opacity: 0.8;
      transition: opacity 0.3s;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    }

    .chat-btn:hover,
    .submit:hover,
    #emoji-btn:hover {
      opacity: 1;
    }

    .chat-popup {
      display: none;
      position: fixed;
      bottom: 80px;
      right: 120px;
      height: 400px;
      width: 300px;
      background-color: white;
      /* display: flex; */
      flex-direction: column;
      justify-content: space-between;
      padding: 0.75rem;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
      border-radius: 10px;
    }

    .show {
      display: flex;
    }

    .chat-area {
      height: 80%;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .income-msg {
      display: flex;
      align-items: center;
    }

    .avatar {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      object-fit: cover;
    }

    .income-msg .msg {
      background-color: dodgerblue;
      color: white;
      padding: 0.5rem;
      border-radius: 25px;
      margin-left: 1rem;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    }

    .badge {
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: red;
      color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -10px;
      right: -10px;
    }

    .input-area {
      position: relative;
      display: flex;
      justify-content: center;
    }

    input[type="text"] {
      width: 100%;
      border: 1px solid #ccc;
      font-size: 1rem;
      border-radius: 5px;
      height: 2.2rem;
    }

    #emoji-btn {
      position: absolute;
      font-size: 1.2rem;
      background: transparent;
      right: 50px;
      top: 2px;
      opacity: 0.5;
    }

    .submit {
      padding: 0.25rem 0.5rem;
      margin-left: 0.5rem;
      background-color: green;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      opacity: 0.7;
    }


    .out-msg {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .my-msg {
      display: flex;
      justify-content: flex-end;
      margin: 0.75rem;
      padding: 0.5rem;
      background-color: #ddd;
      border-radius: 25px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
      word-break: break-all;
    }


    @media (max-width:500px) {

      .chat-popup {
        bottom: 120px;
        right: 10%;
        width: 80vw;
      }
    }
  </style>

  <button class="chat-btn">
    <div class="badge" id="badge">0</div>
    <i class="material-icons"> comment </i>
  </button>

  <div class="chat-popup">
    <div class="chat-area">
      <div class="income-msg">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTG6a6KfKK66Jy1eCuDau7yp2rb5dIfGvl45g&usqp=CAU" class="avatar" alt="">
        <span class="msg"> Hi, Ada yang bisa dibantu ?</span>
      </div>
    </div>

    <div class="input-area">
      <input type="text" placeholder="Question" id="chat">
      <button class="submit"> <i class="material-icons"> send</i></button>
    </div>
  </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.1.1/dist/index.min.js"></script>
<script src="{{url_for('static',filename='js/main.js')}}"></script>
<script>
  $(document).ready(function () {
    /*
    setInterval(function () {
      $.ajax({
        url: '/ambildata',
        type: 'get',
        success: function (ress) {
          $('#mytext').val(ress[0]['pertanyaan'])
          $('#chatnya').prepend(
            `
            <div class="row">
              <div class="col-5">
                <div class="alert alert-primary" role="alert">
                  ` + ress[0]['pertanyaan'] + `
                </div>
              </div>
            </div>
            `
          );
          $.ajax({
            url: '/chat',
            type: 'POST',
            data: $('form').serialize(),
            success: function (ress) {
              $('#chatnya').prepend(
                `
                <div class="row">
                  <div class="offset-5 col-5">
                    <div class="alert alert-secondary" role="alert">
                        ` + ress[0]['jawaban'] + `
                    </div>
                  </div>
                </div>
                `
              );
            },
            error: function (error) {
              console.log(error);
            }
          });
        },
        error: function (error) {
          console.log(error);
        }
      });
    }, 3000);
    */


    $('#mytext').keyup(function (e) {
      if (e.keyCode == 13) {
        let pertanyaan = $(this).val();
        $.ajax({
          url: '/chat',
          type: 'POST',
          data: $('form').serialize(),
          success: function (ress) {
            console.log(ress[0])

            $('#chatnya').append(
              `
              <div class="row">
                <div class="col-5">
                  <div class="alert alert-primary" role="alert">
                    ` + pertanyaan + `
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="offset-5 col-5">
                  <div class="alert alert-secondary" role="alert">
                      ` + ress + `
                  </div>
                </div>
              </div>
              `
            );
            $('#mytext').val('');
          },
          error: function (error) {
            console.log(error);
          }
        });
      }
      $('#formnya').submit(function () {
        return false;
      });
    });

    $('#send').click(function () {
      $.ajax({
        url: '/chat',
        type: 'POST',
        data: $('form').serialize(),
        success: function (ress) {
          $('#chatnya').append(
            `
            <div class="row">
              <div class="col-5">
                <div class="alert alert-primary" role="alert">
                  ` + $('#mytext').val() + `
                </div>
              </div>
            </div>
            <div class="row">
              <div class="offset-5 col-5">
                <div class="alert alert-secondary" role="alert">
                    ` + ress[0]['jawaban'] + `
                </div>
              </div>
            </div>
            `
          );
        },
        error: function (error) {
          console.log(error);
        }
      });

    });
  });
</script>
</body>

</html>