{% include 'header.html' %}
<div class="container mt-3">
  <h1 class="text-center">Data Pelatihan</h1>
  <button class="btn btn-primary mt-5 mb-5" data-toggle="modal" data-target="#exampleModal">Tambah Data</button>
  <table class="table table-striped mt-3" id="myTable">
    <thead>
      <tr>
        <th>No</th>
        <th>Pertanyaan</th>
        <th>Jawaban</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      {% for datas in data %}
      <tr>
        <th>{{loop.index}}</th>
        <td>{{datas['pertanyaan']}}</td>
        <td>{{datas['jawaban']}}</td>
        <td>
          <button class="btn btn-warning" data-toggle="modal" data-target="#ubahModal{{loop.index}}">Ubah</button>
          <a href="hapus-dataset?id={{datas['id']}}" onclick="return confirm('Akan menghapus data ini ?')" class="btn btn-danger">Hapus</a>
          <!-- Modal -->
          <div class="modal fade" id="ubahModal{{loop.index}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <form action="ubah-dataset" method="post">
                <input type="hidden" name="idnya" value="{{datas['id']}}">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Ubah Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label>Pertanyaan</label>
                      <input type="text" name="pertanyaan" value="{{datas['pertanyaan']}}" class="form-control"
                        required>
                    </div>
                    <div class="form-group">
                      <label>Jawaban</label>
                      <textarea name="jawaban" class="form-control" required>{{datas['jawaban']}}</textarea>
                      <!-- <input type="text" name="jawaban" value="{{datas['jawaban']}}" class="form-control" required> -->
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Simpan">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form action="" method="post">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tambah Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Pertanyaan</label>
            <input type="text" name="pertanyaan" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Jawaban</label>
            <input type="text" name="jawaban" class="form-control" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Simpan">
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="http://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function () {
    $('#myTable').DataTable();
  });
</script>
</body>

</html>