{% include 'header.html' %}
<div class="container">
  <h1 class="text-center">Voice To Text</h1>

  <h3 class="no-browser-support">Sorry, Your Browser Doesn't Support the Web Speech API. Try Opening This Demo In Google
    Chrome.</h3>

  <div class="app mt-5">
    <div class="text-center">
      <button class="btn btn-warning btn-lg rounded-circle" id="start-record-btn" title="Start Recording"
        style="font-size: 45px;border-radius: 50%;padding-left: 30px;padding-right: 30px;">
        <i class='fas fa-microphone'></i>
      </button>
      <!-- <button class="btn btn-danger" id="save-note-btn" title="Save Note">Stop</button> -->
      <p class="mt-2" id="recording-instructions">Tekan tombol <strong>Diatas </strong> untuk mengakses rekaman
        pertanyaan.</p>
    </div>
    <div class="input-single mt-3 mb-3">
      <input type="text" class="form-control" id="note-textarea" placeholder="Pertanyaan">
    </div>
    <!-- <h3>My Notes</h3>
    <ul id="notes">
      <li>
        <p class="no-notes">You don't have any notes.</p>
      </li>
    </ul> -->
    <h3>Jawaban</h3>
    <div id="jawaban"></div>
  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  $('.no-browser-support').hide();
  try {
    var SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
    var recognition = new SpeechRecognition();
  } catch (e) {
    console.error(e);
    $('.no-browser-support').show();
    $('.app').hide();
  }

  var noteTextarea = $('#note-textarea');
  var instructions = $('#recording-instructions');
  var notesList = $('ul#notes');
  let rekaman = true;

  var noteContent = '';

  // Get all notes from previous sessions and display them.
  var notes = getAllNotes();
  renderNotes(notes);

  /*-----------------------------
        Voice Recognition 
  ------------------------------*/

  // If false, the recording will stop after a few seconds of silence.
  // When true, the silence period is longer (about 15 seconds),
  // allowing us to keep recording even when the user pauses. 
  recognition.continuous = true;

  // This block is called every time the Speech APi captures a line. 
  recognition.onresult = function (event) {

    // event is a SpeechRecognitionEvent object.
    // It holds all the lines we have captured so far. 
    // We only need the current one.
    var current = event.resultIndex;

    // Get a transcript of what was said.
    var transcript = event.results[current][0].transcript;

    // Add the current transcript to the contents of our Note.
    // There is a weird bug on mobile, where everything is repeated twice.
    // There is no official solution so far so we have to handle an edge case.
    var mobileRepeatBug = (current == 1 && transcript == event.results[0][0].transcript);

    if (!mobileRepeatBug) {
      noteContent += transcript;
      noteTextarea.val(noteContent);
    }
    console.log('rekamannya', noteContent)
    jawaban(noteContent)
  };

  recognition.onstart = function () {
    instructions.text('Mulai Merekan. Katakan sesuatu..');
  }

  recognition.onspeechend = function () {
    instructions.text('Rekaman dimatikan.');
  }

  recognition.onerror = function (event) {
    if (event.error == 'no-speech') {
      instructions.text('No speech was detected. Try again.');
    };
  }

  /*-----------------------------
        App buttons and input 
  ------------------------------*/

  $('#start-record-btn').on('click', function (e) {
    if (rekaman) {
      if (noteContent.length) {
        noteContent += ' ';
      }
      recognition.start();
      noteTextarea.val('');
      rekaman = false;
      $(this).removeClass('btn-warning');
      $(this).addClass('btn-danger Rec');
    } else {
      recognition.stop();
      noteContent = '';
      rekaman = true;
      $(this).removeClass('btn-danger Rec');
      $(this).addClass('btn-warning');
    }
  });


  $('#pause-record-btn').on('click', function (e) {
    console.log('catatan ini ');
    recognition.stop();
    instructions.text('Voice recognition paused.');
  });

  // Sync the text inside the text area with the noteContent variable.
  noteTextarea.on('input', function () {
    noteContent = $(this).val();
  })

  $('#save-note-btn').on('click', function (e) {
    recognition.stop();
    // if (!noteContent.length) {
    //   instructions.text('Could not save empty note. Please add a message to your note.');
    // } else {
    //   // Save note to localStorage.
    //   // The key is the dateTime with seconds, the value is the content of the note.
    //   saveNote(new Date().toLocaleString(), noteContent);

    //   // Reset variables and update UI.
    noteContent = '';
    //   renderNotes(getAllNotes());
    //   noteTextarea.val('');
    //   instructions.text('Note saved successfully.');
    // }

  })


  notesList.on('click', function (e) {
    e.preventDefault();
    var target = $(e.target);

    // Listen to the selected note.
    if (target.hasClass('listen-note')) {
      var content = target.closest('.note').find('.content').text();
      readOutLoud(content);
    }

    // Delete note.
    if (target.hasClass('delete-note')) {
      var dateTime = target.siblings('.date').text();
      deleteNote(dateTime);
      target.closest('.note').remove();
    }
  });


  /*-----------------------------
        Speech Synthesis 
  ------------------------------*/

  function readOutLoud(message) {
    var speech = new SpeechSynthesisUtterance();

    // Set the text and voice attributes.
    speech.text = message;
    speech.volume = 1;
    speech.rate = 1;
    speech.pitch = 1;

    window.speechSynthesis.speak(speech);
  }

  /*-----------------------------
        Helper Functions 
  ------------------------------*/

  function renderNotes(notes) {
    var html = '';
    if (notes.length) {
      notes.forEach(function (note) {
        html += `<li class="note">
          <p class="header">
            <span class="date">${note.date}</span>
            <a href="#" class="listen-note" title="Listen to Note">Listen to Note</a>
            <a href="#" class="delete-note" title="Delete">Delete</a>
          </p>
          <p class="content">${note.content}</p>
        </li>`;
      });
    } else {
      html = '<li><p class="content">You don\'t have any notes yet.</p></li>';
    }
    notesList.html(html);
  }


  function saveNote(dateTime, content) {
    localStorage.setItem('note-' + dateTime, content);
  }


  function getAllNotes() {
    var notes = [];
    var key;
    for (var i = 0; i < localStorage.length; i++) {
      key = localStorage.key(i);

      if (key.substring(0, 5) == 'note-') {
        notes.push({
          date: key.replace('note-', ''),
          content: localStorage.getItem(localStorage.key(i))
        });
      }
    }
    return notes;
  }


  function deleteNote(dateTime) {
    localStorage.removeItem('note-' + dateTime);
  }

  function jawaban(pertanyaan) {
    $.ajax({
      url: '/perusahaan',
      type: 'POST',
      dataType: 'json',
      data: {
        pertanyaan: pertanyaan
      },
      beforeSend: function () {
        $("#jawaban").html('Memuat...');
      },
      success: function (response) {
        console.log("responsenya", response)
        $('#jawaban').html(response);
        readOutLoud(response);
      }
    })
  }

  $('#note-textarea').keyup(function (e) {
    if (e.keyCode == 13) {
      jawaban($(this).val());
    }
  });
</script>
</body>

</html>